button {
    cursor: pointer;
}

.dice {
    display: inline-block;
    padding: .5%;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: thin;
    text-align: center;
    border-radius: 25%;
    width: 2%;
}